<a href="https://colab.research.google.com/github/AshvinVignesh/Spam-Mail-Detection/blob/main/SPAM_DETECTION_(KNN)_Kaggle_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

In [4]:
df=pd.read_csv('spam_ham_dataset.csv')

In [5]:
df.head(10)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
5,2949,ham,Subject: ehronline web address change\r\nthis ...,0
6,2793,ham,Subject: spring savings certificate - take 30 ...,0
7,4185,spam,Subject: looking for medication ? we ` re the ...,1
8,2641,ham,Subject: noms / actual flow for 2 / 26\r\nwe a...,0
9,1870,ham,"Subject: nominations for oct . 21 - 23 , 2000\...",0

In [6]:
df.columns

Index(['Unnamed: 0', 'label', 'text', 'label_num'], dtype='object')

In [14]:
# df = df.drop(columns=['Unnamed: 0'])

In [15]:
df.isnull().sum()

label        0
text         0
label_num    0
dtype: int64

In [17]:
X = df['text'] #x = df['text']
y = df['label_num']

In [18]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import make_pipeline

A pipeline is a series of data processing steps that are chained together in a specific order, so that the output of each step becomes the input to the next step. The purpose of a pipeline is to simplify the data processing workflow and to make it easier to reproduce and modify the workflow

In [25]:
knn = make_pipeline(TfidfVectorizer(),KNeighborsClassifier())

In [27]:
knn.fit(X_train, y_train)

Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()),
                ('kneighborsclassifier', KNeighborsClassifier())])

In [28]:
y_pred=knn.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [33]:
ac = accuracy_score(y_test,y_pred)
print(ac*100)

94.97584541062803

In [32]:
mail = knn.predict(["click here to make money"])
if mail[0]==0:
    print("Ham")
else:
    print("spam")

spam